{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Welcome</h2>
<hr>
<div class="d-flex justify-content-center">
    <div class="text-center mx-3">
        <p class="lead mb-2">Already have an account?</p>
        <a href="{% url 'login' %}" class="btn btn-teacher btn-lg" role="button">Log In</a>
    </div>
    <div class="text-center mx-3">
        <p class="lead mb-2">Are you new? Sign up here!</p>
        <a href="{% url 'signup' %}" class="btn btn-student btn-lg" role="button">Sign Up</a>
    </div>
</div>
{% endblock %}
