{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> Changing Password for {{student.user.username}}</li>
    </ol>
  </nav>
  <form method="POST" action="{% url 'teachers:changepassword' student.user.pk %}">
    {% csrf_token %}
    <label for="fname">New password:</label>
    <input type="text" id="pass" name="pass"><br><br>
    <button type="submit" class="btn btn-success">Save Change</button>
    <a href="{% url 'teachers:student_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
{% endblock %}
